$font: 'Titillium Web', 'Helvetica Neue', sans-serif;
$font-mono: monospace;
$font-size: 16px;
$font-thin: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;

$black: #171D1E;
$white: #F4F4F4;
$gray-dark: #585C5C;
$gray: #858888;
$gray-light: #C7C8C9;
$gray-lighter: #E1E3E4;
$orange: #FF7300;

$color-text: #222;
$color-link: $orange;
$color-background: #FFF;

$tablet: 769px;

@mixin tablet() {
  @media (min-width: $tablet) {
    @content;
  }
}
