@import "dependencies/dependencies";
@import "variables";

//Setup

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background: $color-background;
  font-family: $font;
  font-size: $font-size;
  font-weight: $font-regular;
  color: $color-text;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//Styles

a {
  color: $color-link;
  &:hover {
    color: saturate(lighten($color-link, 5%), 100%);
  }
}

h1, h2, h3, h4, h5, h6,
button, input, .button {
  font-family: $font;
}

h6 {
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: $font-bold;
  margin: 0;
  padding: .5rem 0 0;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

form {
  margin: 1rem auto;
  button, .button {
    width: 100%;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
select,
textarea {
  font-size: 1.6rem;
  padding: .8em 1em;
  font-family: $font;
  &:focus {
    border-color: $black;
    outline: none;
  }
}

input[type="checkbox"] {
  font-size: 2rem;
}

textarea {
  resize: none;
  min-height: 200px;
}

[class^="page-"] {
  height: 100%;
}

.page-dark {
  background: $black;
  height: 100%;
  color: $white;
  background-size: 250% auto;
  background-position: 40% center;
  background-image: url('img/scene-light-transparent.png');
  background-repeat: no-repeat;
  @include tablet() {
    background-size: 100% auto;
    background-image: url('img/scene-light.png');
    background-position: -30% bottom;
  }
  h2, h3, h4, h5, h6 {
    color: $gray-light;
    line-height: 1.2;
  }
}

.page-home {
  text-align: center;
  padding-top: 1rem;
  @include tablet() {
    text-align: left;
  }
  h1 {
    margin-bottom: 2rem;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .content {
    @include tablet() {
      max-width: 450px;
    }
  }
}

.page-light {
  border-top: 4px solid $orange;
  background-size: 230% auto;
  background-position: 42% 30px;
  background-repeat: no-repeat;
  background-image: url('img/scene-dark.png');
  @include tablet() {
    background-size: 100% auto;
    background-position: 80% center;
    background-repeat: no-repeat;
    background-image: url('img/scene-dark.png');
  }
  .main-nav {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .content {
    background: white;
    width: 100%;
    border: 1px solid $gray-light;
    padding: 4rem 5rem;
    + .content {
      margin-top: -1px;
    }
  }
}

.main-nav {
  padding-top: 1rem;
  padding-bottom: 3rem;
  .logo {
    padding-top: 2rem;
    text-align: center;
    @include tablet {
      padding-top: 0;
      text-align: left;
    }
  }
  .nav {
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
    @include tablet {
      justify-content: flex-end;
    }
    a {
      color: $gray;
      text-decoration: none;
      font-weight: $font-medium;
      &:hover {
        color: lighten($gray, 5%);
      }
      &.active {
        color: $orange;
      }
    }
  }
}

.button-group {
  button,.button {
    @include tablet() {
      margin-right: 2rem;
    }
  }
}

.button {
  padding: 1.1rem 3.5rem;
  margin: 1rem 0;
  background: #111111;
  color: #f5f5f5;
  border-radius: 2px;
  border: none;
  font-size: 1.3rem;
  transition: all .2s ease;
}

.button,
button,
input[type="submit"] {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  background: url('img/bg-orange.png');
  color: fade-out($black, .1);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid fade-out($orange, .5);
  &:hover {
    color: $black;
    border-color: $orange;
    background: url('img/bg-orange.png');
  }
  @include tablet() {
    width: auto;
  }
  &.outline-white {
    color: $white;
    border-color: fade-out($white, .2);
    &:hover {
      border-color: $white;
    }
  }
  &.outline-orange {
    color: $orange;
    border-color: fade-out($orange, .5);
    background: $black;
    &:hover {
      border-color: $orange;
      color: $white;
    }
  }
  &.button-black {
    background: $black;
    border: 0;
    color: $white;
    &:hover {
      background: lighten($black, 5%);
    }
  }
}

.contact-form {
  @include tablet {
    padding-left: 2rem;
  }
  input[type="submit"] {
    margin-top: 2rem;
    width: 100%;
  }
}

.content-header {
  margin-bottom: 5rem;
  h5 {
    max-width: 500px;
    margin: auto;
    margin-bottom: 3rem;
  }
  h6 {
    margin-bottom: 2rem;
  }
}

.project {
  text-align: center;
  width: 100%;
  @include tablet {
    text-align: left;
  }
  p {
    // padding-right: 2rem;
    margin-top: .5rem;
  }
  .project-title {
    display: block;
    margin: 0.5rem 0;
    font-size: 2rem;
    color: $black;
    font-weight: bold;
  }
}

.project-thumb {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  opacity: .9;
  max-width: 255px;
  width: 100%;
  height: 215px;
  &:hover {
    opacity: 1;
  }
  img {
    display: block;
    width: auto;
    height: auto;
    max-height: 215px;
    max-width: 100%;
    margin: auto;
  }
  // &:after {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   content: "";
  //   height: 100%;
  //   width: 100%;
  //   background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 80%);
  // }
}

.panel {
  width: 100%;
  color: $orange;
  background-image: linear-gradient(-30deg, fade-out($black, .1) 50%, fade-out($black, .15) 50%);
  a {
    text-decoration: none;
    color: $white;
  }
}

.panel-orange {
  background-color: $orange;
  color: $black;
  background-image: linear-gradient(-30deg, fade-out($white, .9) 50%, fade-out($orange, .15) 50%);
  p {
    font-size: 1.8rem;
  }
}

.panel-hero {
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.peek-up {
  margin-top: -3rem;
}

.profile-thumb {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  h3 {
    color: $orange;
    font-size: 2em;
    margin: 0 0 0.5rem;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $gray-lighter;
  }
  p {
    margin-top: 0.5rem;
  }
  a {
    text-decoration: none;
    color: $black;
    .fa {
      padding-right: 3px;
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

.profile-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gray-lighter;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  img {
    height: 100%;
    width: auto;
    border-radius: 50%;
  }
  &:after {
    display: block;
    left: -5px;
    top: -5px;
    border: 1px solid $gray-light;
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;

  }
}

footer.home.main-footer {
  margin-top: 0;
}

.main-footer {
  background: darken($black, 2%);
  margin-top: 6rem;
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
  &.no-margin {
    margin: 0;
  }
}

.color-orange {
  color: $orange;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.panel-hero blockquote {
  position: relative;
  padding: 2rem 4rem 2rem 7rem;
  border-radius: 3px;
  border: 1px solid fade-out($white, .8);
  &:before {
    content: '"';
    position: absolute;
    left: 3.5rem;
    top: 3rem;
    font-size: 5rem;
    font-family: Helvetica, sans-serif;
    color: fade-out($white, .5);
  }
  p {
    font-size: 2.7rem;
    line-height: 1.2;
    small:last-child {
      display: block;
      font-size: 1.6rem;
      margin-top: 1.8rem;
    }
  }
}

.panel-orange blockquote {
  background: fade-out($white, .95);
  color: $white;
  small:last-child {
    color: $black;
  }
}

.blog {
  .content {
    min-height: 80vh;
  }
}

.blog-post,
.event-post {
  padding: 1rem 0;
  font-size: 12px;
  border-bottom: 1px solid $gray-lighter;
  &:last-child {
    border-bottom: 0;
  }
  a {
    color: $black;
  }
  h5 {
    margin: 0;
    font-size: 2em;
  }
}

.date {
  margin-top: .5rem;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $gray-dark;
}

.blog-post {
  margin-top: 2rem;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.event-post {
  a {
    color: $orange;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.content-sidebar {
  padding: 0 2rem;
  margin: 2rem auto;
  background: fade-out($gray-lighter, .8);
  border: 1px solid fade-out($gray-lighter, .5);
  border-radius: 3px;
}

.pad-top {
  padding-top: 20px;
}
