
<div class="page-content page-light">
  <div class="container">
   {{> page/nav }}
  </div>
  <div class="panel panel-orange panel-hero">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <h6 class="color-white">Our values</h6>
          <p>
            Show up early.</br>
            Do whatever it takes.</br>
            See the big picture.</br>
            <b>Get the job done.</b></br>
          </p>
          <p class="pad-top">
            <a class="button button-black" href="/projects">
              See projects
            </a>
          </p>
        </div>
        <div class="col-7 right">
          <blockquote>
            <p>
              I believe every company needs to see itself as a technology company first
              <small>
                &mdash; Douglas Drouillard, <em>Founder</em>
              </small>
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="container peek-up">
    <div class="content projects" id="projects">
      <div class="content-header">
        <h6 class="text-center color-orange">Our Specialties</h6>
        <h5 class="text-center">Shrine partners with businesses who are exploring blockchain solutions. We deliver production ready applications powered by real data.</h5>
      </div>

      <div class="row">

        <div class="project col-4">
          <a class="project-thumb" href="https://www.ethereum.org/">
            <img src="img/ethereum.png">
          </a>
          <h4 class="project-title">Ethereum</h4>
          <p>A decentralized platform that runs <b>smart contracts</b> without any possibility of downtime, censorship, fraud or third party interference. <a href="https://docs.google.com/presentation/d/1oXuKNjEK3tYDhZc48DaJO1usYBJy0udMKGCjtQjN2f4/edit#slide=id.g249291c215_0_17">See what we've done</a>.</p>
        </div>
        <div class="project col-4">
          <a class="project-thumb" href="https://bitcoin.org/en/">
            <img src="img/bitcoin.png">
          </a>
          <h4 class="project-title">Bitcoin</h4>
          <p>The first <b>decentralized</b> peer-to-peer payment network that is powered by its users with no central authority or middlemen.</p>
        </div>
        <div class="project col-4">
          <a class="project-thumb" href="https://blockgeeks.com/guides/what-is-blockchain-technology/">
            <img src="img/blockchain.png">
          </a>
          <h4 class="project-title">Blockchain</h4>
          <p>An <b>incorruptible</b> digital ledger in which transactions made in bitcoin or another cryptocurrency are recorded chronologically and publicly.</p>
        </div>
      </div>
      <div class="row">
        <div class="project col-4">
          <a class="project-thumb" href="https://facebook.github.io/react/">
            <img src="img/react.png">
          </a>
          <h4 class="project-title">React</h4>
          <p>Build next-generation user interfaces in javascript that are highly <b>reactive and fast</b>.</p>
        </div>
        <div class="project col-4">
          <a class="project-thumb" href="https://developer.apple.com/swift/">
            <img src="img/swift.png">
          </a>
          <h4 class="project-title">Swift</h4>
          <p><b>iOS apps</b> that are beautiful, fast, and secure are built on Swift.</p>
        </div>
        <div class="project col-4">
        </div>
      </div>

    </div>
    <div class="content team">
      <div class="content-header">
        <h6 class="text-center">The Team</h6>
      </div>

      {{#each team as |avatar name bio|}}
      <div class="profile-thumb row">
        <div class="col-3">
          <div class="profile-avatar">
            <img src="{{ this.avatar }}"/>
          </div>
        </div>
        <div class="col-9">
          <h3>{{ this.name }}</h3>
          <a href="https://twitter.com/{{ this.twitter }}"><i class="fa fa-twitter" target="_blank" rel="noopener noreferrer" aria-hidden="true"></i>@{{ this.twitter }}</a>
          <p>{{{ this.bio }}}</p>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>
