<div class="page-content page-light">
  <div class="container">
    {{> page/nav }}
    <div class="blog">
      <div class="content">
        <div class="row">
          <div class="col-7">
            <h6>Recent Posts</h6>

            {{# each blogPosts as |title date|}}
              <div class="blog-post">
                <h5><a href="#">{{ this.title }}</a></h5>
                <p class="date">{{ this.date }}</p>
              </div>
            {{/each}}

          </div>
          <div class="col-5">
            <h6 class="color-orange">Upcoming Events</h6>
            <div class="content-sidebar">
              <div class="event-post">
                <h5><a href="#">Michigan Ethereum (presenting)</a></h5>
                <p class="date">July, 2017</p>
              </div>
              <div class="event-post">
                <h5><a href="#">An event name</a></h5>
                <p class="date">May 15, 2017</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
