<div class="page-content page-light">
  <div class="container">
    {{> page/nav }}
    <div class="content">
      <div class="row">
        <div class="col">
          <a href="https://www.google.com/maps/place/22720+Woodward+Ave,+Ferndale,+MI+48220,+USA/data=!4m2!3m1!1s0x8824cee3253d44e7:0x58c6e0a4b2ddda42?sa=X&ved=0ahUKEwinkafDyqzUAhVI0YMKHei9C3oQ8gEIITAA">
            <img src="img/map.png" alt="Map">
          </a>
        </div>
        <div class="col contact-form">
            <div>
              <h6>Email</h6>
              <p>
                <a href="mailto:hello@shrinedev.com">hello@shrinedev.com</a>
              </p>
            </div>
            <div>
              <h6>Address</h6>
              <p>
                Suite 206 <br />
                22720 Woodward Ave  <br />
                Ferndale, MI 48220
              </p>
            </div>
            <div>
              <h6>Phone</h6>
              <p>
                734.531.8199
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
