<div class="page-content page-dark">
  <div class="page-home">
    <div class="container">
      <div class="main-nav row">
        <div class="col nav">
          {{# each h.menu as |slug title|}}
            <a class="nav-item" href={{ this.slug }}>{{ this.title }}</a>
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center">
          <a href="/"><img src="img/logo-vertical.svg" width="115"/></a>
        </div>
        <div class="col-9">
          <div class="content">
            <h1>Build your legacy</h1>
            <h4>Blockchain consulting and app development. No hassles.</h4>
            <div class="row button-group left">
              <a href="mailto:hello@shrinedev.com" class="button">Get in touch</a>
              <a class="button outline outline-orange" href="/about">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
