<div class="page-light">
  <div class="container">
    {{> page/nav }}
    <div class="row">
      <div class="content">
        <div class="projects">
          <div class="row">
            <div class="project col-4">
              <a class="project-thumb" href="/contact">
                <img src="img/question.jpg">
              </a>
                <h4 class="project-title">Yours?</h4>
              <p><a href="/contact">Contact us</a> and you could <b>launch</b> in as little as 6 weeks.</p>
            </div>
            <div class="project col-4">
              <a class="project-thumb" href="https://passagex.com">
                <img src="img/passagex.png">
              </a>
                <h4 class="project-title">PasssageX</h4>
                <p>Fixing event ticketing with the blockchain. Zero fraud. 100% transparent. Unlimited control. <b>Token sale</b> in Q4 2017.</p>
            </div>
            <div class="project col-4">
              <a class="project-thumb" href="#">
                <img src="img/openblock.png" />
              </a>
              <h4 class="project-title">Openblock</h4>
              <p>Open-source project that allows for instant creation of <b>Ethereum</b> private networks on IOT devices</p>
            </div>
          </div>
          <div class="row">
            <div class="project col-4">
              <a class="project-thumb" href="#">
                <img src="img/cactus.gif">
              </a>
              <h4 class="project-title">Pinyada</h4>
              <p>Affialiate marketing goes mobile. Fully featured <b>iOS</b> app and back-end services. Launches Q3 2017.</p>
            </div>
            <div class="project col-4">
              <a class="project-thumb" href="https://www.greenback.com/">
                <img src="img/logo-greenback.png">
              </a>
              <h4 class="project-title">Greenback</h4>
              <p>Full-stack development and project management for a <b>fintech</b> start-up. </p>
            </div>
            <div class="project col-4">
              <a class="project-thumb" href="https://www.zenrez.com/">
                <img src="img/zenrez.jpg">
              </a>
                <h4 class="project-title">Zenrez</h4>
              <p>Developed V1 of an <b>iOS</b> app which helped Zenrez raise 8.5M USD in venture capital.</p>
            </div>
          </div>
          <div class="row">
            <div class="project col-4">
              <a class="project-thumb" href="#">
                <img src="img/ios.png">
              </a>
                <h4 class="project-title">Nexus</h4>
              <p>Developed an <b>iOS</b> app aimed at revolutinizing the construction management industry</p>
            </div>
            <div class="project col-4">
              <a class="project-thumb" href="#">
                <img src="img/rick.png">
              </a>
                <h4 class="project-title">Politics</h4>
              <p><b>Chief Technical Officer</b> for a gubernatorial campaign. Consulted in a variety of domains including fantasy sports and social media engagement.</p>
            </div>
            <div class="project col-4">
              <a class="project-thumb" href="#">
                <img src="img/hat.jpg">
              </a>
                <h4 class="project-title">Education</h4>
              <p>Worked on a variety of <b>data-intensive</b> projects centered around education funding and school of choice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
