/*
* Wing 1.0.0-beta
* Copyright 2016, Kabir Shah
* http://usewing.ml/
* Free to use under the MIT license.
* https://kingpixil.github.io/license
*/
/*------------------------------------------------------------
  Base Style
------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700);
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*------------------------------------------------------------
  Typography
------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3 {
  letter-spacing: -.1rem;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a {
  color: #104cfb;
  transition: all .1s ease;
}

a:hover {
  color: #222222;
}

/*------------------------------------------------------------
  Buttons
------------------------------------------------------------*/
button, [type=submit] {
  padding: 1.1rem 3.5rem;
  margin: 1rem 0;
  background: #111111;
  color: #f5f5f5;
  border-radius: 2px;
  border: none;
  font-size: 1.3rem;
  transition: all .2s ease;
}

button.outline, [type=submit].outline {
  padding: 1.1rem 3.5rem;
  background: none;
  color: #111111;
  border: 1.5px solid #111111;
}

button:hover, [type=submit]:hover {
  background: #222222;
}

button.outline:hover, [type=submit].outline:hover {
  background: none;
  border: 1.5px solid #444444;
  color: #444444;
}

button:focus, [type=submit]:focus {
  outline: none;
}

button:active, [type=submit]:active {
  transform: scale(0.99);
}

/*------------------------------------------------------------
  Forms
------------------------------------------------------------*/
input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=file], input[type=tel], select, textarea, textarea[type=text] {
  margin: 1rem 0;
  width: 100%;
  max-width: 100%;
  border-radius: 2px;
  border: 1px solid #a4a4a4;
  font-size: 1.3rem;
  transition: all .2s ease;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=search]:hover, input[type=number]:hover, input[type=file], input[type=tel], select:hover, textarea:hover, textarea[type=text]:hover {
  border: 1px solid #111111;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=number], input[type=file], input[type=tel], select:focus textarea:focus, textarea[type=text]:focus {
  outline: none;
  border: 1px solid #104cfb;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=file], input[type=tel], select {
  padding: 1.1rem;
}

textarea, textarea[type=text] {
  height: 10rem;
  padding: 14px 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 80%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row > :first-child {
  margin-left: 0;
}

.row > :last-child {
  margin-right: 0;
}

.col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col, [class^='col-'], [class*=" col-"] {
  margin: 1rem;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

.col-9 {
  flex: 9;
}

.col-10 {
  flex: 10;
}

.col-11 {
  flex: 11;
}

.col-12 {
  flex: 12;
}

@media screen and (max-width: 768px) {
  .col, [class^='col-'], [class*=" col-"] {
    margin: 0;
    flex: 0 0 100%;
  }
}

/*------------------------------------------------------------
  Lists
------------------------------------------------------------*/
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

/*------------------------------------------------------------
  Tables
  ------------------------------------------------------------*/
.table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.table th, .table td {
  vertical-align: middle;
  padding: 12px 4px;
}

.table thead {
  border-bottom: 2px solid #333030;
}

/* responsive tables */
@media screen and (max-width: 768px) {
  .table.responsive {
    position: relative;
    display: block;
  }
  .table.responsive th, .table.responsive td {
    margin: 0;
  }
  .table.responsive thead {
    display: block;
    float: left;
    border: 0;
  }
  .table.responsive thead tr {
    display: block;
    padding: 0 10px 0 0;
    border-right: 2px solid #333030;
  }
  .table.responsive th {
    display: block;
    text-align: right;
  }
  .table.responsive tbody {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table.responsive tbody tr {
    display: inline-block;
  }
  .table.responsive td {
    display: block;
    min-height: 16px;
    text-align: left;
  }
  .table.responsive tr {
    padding: 0 10px;
  }
}

/*------------------------------------------------------------
  Utilities
------------------------------------------------------------*/
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.horizontal-align {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fixed {
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .hide-phone {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hide-tablet {
    display: none;
  }
}

/*------------------------------------------------------------
  Misc
------------------------------------------------------------*/
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/*------------------------------------------------------------
  Navigation
  ------------------------------------------------------------*/
.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.nav-menu,
.nav-brand {
  display: flex;
}

.nav-menu {
  flex-flow: row;
  flex: 1 0 auto;
}

.nav-item {
  padding: 1rem 2rem;
}

.nav-logo {
  font-weight: bolder;
  font-size: 2rem;
  line-height: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background: #FFF;
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: #FF7300;
}

a:hover {
  color: #ff811a;
}

h1, h2, h3, h4, h5, h6,
button, input, .button {
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
}

h6 {
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 700;
  margin: 0;
  padding: .5rem 0 0;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

form {
  margin: 1rem auto;
}

form button, form .button {
  width: 100%;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
select,
textarea {
  font-size: 1.6rem;
  padding: .8em 1em;
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=file]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
  border-color: #171D1E;
  outline: none;
}

input[type="checkbox"] {
  font-size: 2rem;
}

textarea {
  resize: none;
  min-height: 200px;
}

[class^="page-"] {
  height: 100%;
}

.page-dark {
  background: #171D1E;
  height: 100%;
  color: #F4F4F4;
  background-size: 250% auto;
  background-position: 40% center;
  background-image: url("img/scene-light-transparent.png");
  background-repeat: no-repeat;
}

@media (min-width: 769px) {
  .page-dark {
    background-size: 100% auto;
    background-image: url("img/scene-light.png");
    background-position: -30% bottom;
  }
}

.page-dark h2, .page-dark h3, .page-dark h4, .page-dark h5, .page-dark h6 {
  color: #C7C8C9;
  line-height: 1.2;
}

.page-home {
  text-align: center;
  padding-top: 1rem;
}

@media (min-width: 769px) {
  .page-home {
    text-align: left;
  }
}

.page-home h1 {
  margin-bottom: 2rem;
}

.page-home h4 {
  margin-top: 0;
  margin-bottom: 3rem;
}

@media (min-width: 769px) {
  .page-home .content {
    max-width: 450px;
  }
}

.page-light {
  border-top: 4px solid #FF7300;
  background-size: 230% auto;
  background-position: 42% 30px;
  background-repeat: no-repeat;
  background-image: url("img/scene-dark.png");
}

@media (min-width: 769px) {
  .page-light {
    background-size: 100% auto;
    background-position: 80% center;
    background-repeat: no-repeat;
    background-image: url("img/scene-dark.png");
  }
}

.page-light .main-nav {
  margin-bottom: 0;
  padding-bottom: 0;
}

.page-light .content {
  background: white;
  width: 100%;
  border: 1px solid #C7C8C9;
  padding: 4rem 5rem;
}

.page-light .content + .content {
  margin-top: -1px;
}

.main-nav {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.main-nav .logo {
  padding-top: 2rem;
  text-align: center;
}

@media (min-width: 769px) {
  .main-nav .logo {
    padding-top: 0;
    text-align: left;
  }
}

.main-nav .nav {
  margin-top: 0;
  padding-top: 0;
  justify-content: center;
}

@media (min-width: 769px) {
  .main-nav .nav {
    justify-content: flex-end;
  }
}

.main-nav .nav a {
  color: #858888;
  text-decoration: none;
  font-weight: 600;
}

.main-nav .nav a:hover {
  color: #929595;
}

.main-nav .nav a.active {
  color: #FF7300;
}

@media (min-width: 769px) {
  .button-group button, .button-group .button {
    margin-right: 2rem;
  }
}

.button {
  padding: 1.1rem 3.5rem;
  margin: 1rem 0;
  background: #111111;
  color: #f5f5f5;
  border-radius: 2px;
  border: none;
  font-size: 1.3rem;
  transition: all .2s ease;
}

.button,
button,
input[type="submit"] {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  background: url("img/bg-orange.png");
  color: rgba(23, 29, 30, 0.9);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(255, 115, 0, 0.5);
}

.button:hover,
button:hover,
input[type="submit"]:hover {
  color: #171D1E;
  border-color: #FF7300;
  background: url("img/bg-orange.png");
}

@media (min-width: 769px) {
  .button,
  button,
  input[type="submit"] {
    width: auto;
  }
}

.button.outline-white,
button.outline-white,
input[type="submit"].outline-white {
  color: #F4F4F4;
  border-color: rgba(244, 244, 244, 0.8);
}

.button.outline-white:hover,
button.outline-white:hover,
input[type="submit"].outline-white:hover {
  border-color: #F4F4F4;
}

.button.outline-orange,
button.outline-orange,
input[type="submit"].outline-orange {
  color: #FF7300;
  border-color: rgba(255, 115, 0, 0.5);
  background: #171D1E;
}

.button.outline-orange:hover,
button.outline-orange:hover,
input[type="submit"].outline-orange:hover {
  border-color: #FF7300;
  color: #F4F4F4;
}

.button.button-black,
button.button-black,
input[type="submit"].button-black {
  background: #171D1E;
  border: 0;
  color: #F4F4F4;
}

.button.button-black:hover,
button.button-black:hover,
input[type="submit"].button-black:hover {
  background: #222b2c;
}

@media (min-width: 769px) {
  .contact-form {
    padding-left: 2rem;
  }
}

.contact-form input[type="submit"] {
  margin-top: 2rem;
  width: 100%;
}

.content-header {
  margin-bottom: 5rem;
}

.content-header h5 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 3rem;
}

.content-header h6 {
  margin-bottom: 2rem;
}

.project {
  text-align: center;
  width: 100%;
}

@media (min-width: 769px) {
  .project {
    text-align: left;
  }
}

.project p {
  margin-top: .5rem;
}

.project .project-title {
  display: block;
  margin: 0.5rem 0;
  font-size: 2rem;
  color: #171D1E;
  font-weight: bold;
}

.project-thumb {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  opacity: .9;
  max-width: 255px;
  width: 100%;
  height: 215px;
}

.project-thumb:hover {
  opacity: 1;
}

.project-thumb img {
  display: block;
  width: auto;
  height: auto;
  max-height: 215px;
  max-width: 100%;
  margin: auto;
}

.panel {
  width: 100%;
  color: #FF7300;
  background-image: linear-gradient(-30deg, rgba(23, 29, 30, 0.9) 50%, rgba(23, 29, 30, 0.85) 50%);
}

.panel a {
  text-decoration: none;
  color: #F4F4F4;
}

.panel-orange {
  background-color: #FF7300;
  color: #171D1E;
  background-image: linear-gradient(-30deg, rgba(244, 244, 244, 0.1) 50%, rgba(255, 115, 0, 0.85) 50%);
}

.panel-orange p {
  font-size: 1.8rem;
}

.panel-hero {
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.peek-up {
  margin-top: -3rem;
}

.profile-thumb {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.profile-thumb h3 {
  color: #FF7300;
  font-size: 2em;
  margin: 0 0 0.5rem;
}

.profile-thumb:not(:last-child) {
  border-bottom: 1px solid #E1E3E4;
}

.profile-thumb p {
  margin-top: 0.5rem;
}

.profile-thumb a {
  text-decoration: none;
  color: #171D1E;
}

.profile-thumb a .fa {
  padding-right: 3px;
  font-size: 18px;
  vertical-align: middle;
}

.profile-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E1E3E4;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.profile-avatar img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.profile-avatar:after {
  display: block;
  left: -5px;
  top: -5px;
  border: 1px solid #C7C8C9;
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
}

footer.home.main-footer {
  margin-top: 0;
}

.main-footer {
  background: #131718;
  margin-top: 6rem;
}

.main-footer a {
  color: #858888;
  text-decoration: none;
}

.main-footer a:hover {
  color: #F4F4F4;
}

.main-footer.no-margin {
  margin: 0;
}

.color-orange {
  color: #FF7300;
}

.color-white {
  color: #F4F4F4;
}

.color-black {
  color: #171D1E;
}

.panel-hero blockquote {
  position: relative;
  padding: 2rem 4rem 2rem 7rem;
  border-radius: 3px;
  border: 1px solid rgba(244, 244, 244, 0.2);
}

.panel-hero blockquote:before {
  content: '"';
  position: absolute;
  left: 3.5rem;
  top: 3rem;
  font-size: 5rem;
  font-family: Helvetica, sans-serif;
  color: rgba(244, 244, 244, 0.5);
}

.panel-hero blockquote p {
  font-size: 2.7rem;
  line-height: 1.2;
}

.panel-hero blockquote p small:last-child {
  display: block;
  font-size: 1.6rem;
  margin-top: 1.8rem;
}

.panel-orange blockquote {
  background: rgba(244, 244, 244, 0.05);
  color: #F4F4F4;
}

.panel-orange blockquote small:last-child {
  color: #171D1E;
}

.blog .content {
  min-height: 80vh;
}

.blog-post,
.event-post {
  padding: 1rem 0;
  font-size: 12px;
  border-bottom: 1px solid #E1E3E4;
}

.blog-post:last-child,
.event-post:last-child {
  border-bottom: 0;
}

.blog-post a,
.event-post a {
  color: #171D1E;
}

.blog-post h5,
.event-post h5 {
  margin: 0;
  font-size: 2em;
}

.date {
  margin-top: .5rem;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #585C5C;
}

.blog-post {
  margin-top: 2rem;
}

.blog-post a:hover {
  text-decoration: none;
}

.event-post a {
  color: #FF7300;
  text-decoration: none;
}

.event-post a:hover {
  text-decoration: underline;
}

.content-sidebar {
  padding: 0 2rem;
  margin: 2rem auto;
  background: rgba(225, 227, 228, 0.2);
  border: 1px solid rgba(225, 227, 228, 0.5);
  border-radius: 3px;
}

.pad-top {
  padding-top: 20px;
}
