<footer {{# if isHome}} class="home main-footer" {{else}} class="main-footer" {{/if}}>
  <div class="nav container center">
    {{# each h.footer as |link class name|}}
      <a href={{ this.link }} class="nav-item">
        <i class="fa fa-{{ this.class }}" target="_blank" rel="noopener noreferrer" aria-hidden="true"></i>
        {{ this.name }}
      </a>
    {{/each}}
  </div>
</footer>