<div class="main-nav row">
  <div class="col logo">
    <a href="/"><img src="img/logo-horizontal.svg" width="163"/></a>
  </div>
  <div class="col nav">
    {{# each h.menu as |slug title|}}
      <a class="nav-item" href={{ this.slug }}>{{ this.title }}</a> 
    {{/each}}
  </div>
</div>
<h2 class="text-center">{{ title }}</h2>